<header>
    <h2 class="logo">TrueEvolution</h2>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/workout">Workout List</a>
        <a href="/workout/new">Create Workout</a>
        <% if (user) { %>
                <a href="/auth/log-out"><button>Log out</button></a>
            <% } else { %>
                    <a href="/auth/sign-up"><button class="btnSignUp-popup">Sign Up</button></a> <a href="/auth/login"><button class="btnLogin-popup">Login</button></a>.
                <% } %>
    </nav>
</header>