<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Choose a Workout</title>
</head>
<%- include('./partials/nav') %>
<body>
    <h1 class="chooseWorkout">Choose a Workout</h1>
    <ul>
      <% workouts.forEach(workout => { %>
        <li class="workoutChoices"><h3><a href="/workout/<%= workout._id %>"><%= workout.workoutName %></a></h3></li>
      <% }); %>
    </ul>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>